@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;
  padding-bottom: $base-padding;

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $darkGray;
    padding: $base-padding 0;

    h4 {
      text-transform: uppercase;
      margin: 0;
      font-weight: 700;
    }

    .displayOptions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      font-size: 16px;
      .displayType {
        display: flex;
        justify-content: space-around;
        border: 1px solid $darkGray;
        height: 60px;
        width: 100px;

        .icon {
          height: 100%;
          margin-left:10px;
          font-size: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}


