@import "../../../styles/settings.scss";

.chatbot {
  width: 25%;
  position: fixed;
  bottom: 10px;
  z-index: 2;
  margin-left: 10px;
}

.root {
  display: flex;
  flex-direction: column;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 50%;
    color: $white;

    &:hover{
      cursor: pointer;
    }

    p {
      margin-bottom: 0;
    }
  }

  i {
    display: none;
  }

  .chat{
    margin: 10px 0;
    border-radius: 5px;
    background-color: $white;

    .top {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      background-color: $primary;
      color: $white;
      border-radius: 5px 5px 0 0;

      .topButton {
        margin: 10px;

        &:hover{
          cursor: pointer;
        }
      }
    }

    .chatBody {
      padding: 10px 5px 0 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: solid 4px $primary;
      border-bottom: none;
      font-size: 14px;

      p {
        margin: 10px;
        padding: 4px;
        background-color: $gray-3;
        border-radius: 0 5px 5px 5px;
        box-shadow: 0 0 5px rgb(209, 209, 209);
      }

      .robot {
        display: flex;
        align-items: center;

        .user {
          height: 50px;
          width: 50px;
        }
      }

      a {
        margin-top: 10px;
        margin-bottom: 150px;
        padding: 5px 15px;
        border: solid 4px $primary;
        border-radius: 20px;
        align-self: center;
      }
    }

    .message {
      background-color: $gray-3;
      display: flex;
      border-left: solid 4px $primary;
      border-right: solid 4px $primary;
      align-content: center;

      textarea {
        width: 85%;
        border: none;
        outline: none;
        margin-bottom: 0;
        padding: 10px 10px 0 10px;
        background-color: $gray-3;
        resize: none;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 45px;
      }

      .sendIcon {
        font-size: 20px;
        color: $primary;
        align-self: center;
      }
    }

    .send {
      width: 100%;
      border-radius: 0 0 5px 5px;
      text-align: center;
      color: $white;
      background-color: $primary;
      font-size: 40px;
    }
  }
}

/* Media */

@media (min-width: 768px) and (max-width: 1024px) {

  .chatbot {
    width: 40%;
  }

  .button {
    p {
      span {
        display: none;
      }
    }
  }

  .chatBody {
    a, p {
      font-size: 13px;
    }
  }

  .message {
    textarea {
      font-size: 13px;
    }
  }
}

@media (max-width: 767px) {

  .chatbot {
    width: 50%;
  }

  .root {

    .button {
      width: 20%;

      i {
        display: block;
      }

      p {
        display: none;
      }
    }

    .chat .chatBody {
      a, p {
        font-size: 12px;
      }

      a {
        margin-bottom: 80px;
      }

      .user {
        display: none;
      }
    }
  }

  .message {
    textarea {
      font-size: 12px;
    }
  }
}

@media (max-width: 600px) {
  .chatbot {
    width: 70%;
  }
}
