@import '../../../styles/settings.scss';

.root {
  .image {
    display: flex;
    flex-direction: row;
    height: 148px;
    padding-top: 27px;
    border-top: 1px solid $feature-border-color;
    border-bottom: 1px solid $feature-border-color;

    img {
      height:100px;
      width: 100%;
      border: 1px solid $feature-border-color;
      padding: 20px;
    }
    
  }

}
