@import "../../../styles/settings.scss";

$tablet-width: 768px;
$desktop-width: 1200px;


@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}



.root {
  padding: 1rem 0;

  .leftContainer {
    padding: 0;
    border: solid 1px $gray-6;
    border-top: none;
    height: 460px;

    @include mobile {
      display: none;
    }

    @include desktop {
      position: relative;
      height: auto;
      min-height: 100% !important;
    }

    .top {
      height: 45px;
      display: flex;
      align-items: center;
      background-color: $gray-8;
      color: $white;

      h5 {
        margin: 0;
      }

      .dots {
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;

          li {
            margin-left: 25px;
            font-size: 36px;

            &:hover {
              color: $primary;
            }

            &.active {
              color: $primary;
            }
          }
        }
      }
    }

    .photo {
      height: 250px;

      .image {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .cart {
          visibility: hidden;

          .promotedBtn {
            position: absolute;
            top: 17%;
            left: 35%;
          }
        }

        .timeLeft {
          visibility: hidden;
          display: flex;
          top: 65%;
          position: absolute;
          justify-content: center;
          width: 100%;

          .timeCircle {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: $gray-8;
            margin: 2px;
            text-align: center;
            color: $white;

            h2 {
              font-size: 24px;
              margin: 0;
              padding-top: 12px;
            }

            h3 {
              font-size: 16px;
            }
          }
        }
      }

      .image:hover {
        .cart, .timeLeft {
          visibility: visible;
        }
      }
    }

    .content {
      margin: 20px 0;
      h5 {
        text-align: center;
      }

      .stars {
        text-align: center;
        margin: 10px 0 15px 0;

        a {
          text-decoration: none;
          color: $productbox-stars-color;
        }
      }
    }

    .line {
      margin: 0 10px;
      border-bottom: 1px solid $productbox-color;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 30px;
        border-bottom: 4px solid $primary;
        transform: translateX(-50%);
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      margin: 20px 10px 10px 5px;

      @include desktop {
        flex-direction: column;
        align-items: center;
      }

      .actions {
        .selected {
          margin-left: 5px;

          &:hover {
              background-color: $primary;
              border-color: $primary;
          }
        }

        @include desktop {
          padding-bottom: 5px;
        }

      }

      .prices {
        display: flex;
        align-items: center;


        .price_old {
          font-style: italic;
          text-align: right;
          padding-right: 10px;
          text-decoration: line-through $gray-8;
          color: $gray-6;
        }
        .priceBtn {
          font-size: 18px;
        }
      }
    }
  }

  .rightContainer {
    height: 460px;
    padding: 0;
    position: relative;

    @include desktop {
      height: auto;
      min-height: 100% !important;
      display: flex;
      flex-direction: column;
    }

    .image {
      position: relative;
      height: 425px;
      width: 98%;
      flex: 1 0 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 25%;
        background-color: $gray-8;
        opacity: 0.5;
      }

      .title {
        position: absolute;
        width: 100%;
        top: 40%;
        color: $white;
        text-align: center;

        h1, h5 {
          font-weight: 200;

          span {
            font-weight: 600;
          }
        }
      }

      .shopBtn {
        position: absolute;
        top: 68%;
        left: 50%;
        height: 55px;
        width: 140px;
        padding-top: 15px;
        border-radius: 2px;
        background-color: $white;
        cursor: pointer;
        transform: translateX(-50%);

        a {
          text-align: center;
          color: $gray-8;
          font-weight: 600;
          text-decoration: none;
          margin: 25px;
        }
      }

      .shopBtn:hover {
        background-color: $primary;

        a {
          color: $white;
        }
      }
    }

    .navBtns {
      display: flex;
      width: 98%;

      .navBtn {
        background-color: $gray-8;
        width: 50%;
        height: 35px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $primary;
        }

        .icon {
          color: $white;
        }
      }

    }
  }
}
