@import "./settings.scss";

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


*, *::before, *::after {
	box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.rec.rec-arrow {
  border-radius: 0;
  background-color: $darkGray;
  color: $white;
  font-size: 1rem;
  height: 100%;
  cursor: pointer;

  &:hover {
    color: $primary !important;
    background-color: $darkGray !important;
  }
  &:focus {
    color: $primary;
    background-color: $darkGray !important;
  }
};

.rec.rec-dot {
display: none;
};

.feedback{
  .rec.rec-dot {
    display: block;
    background-color: $feedback-dots-bg;
    box-shadow: 0 0 1px 2px $feedback-dots-bg;

      &:focus {
        background-color: $primary;
        box-shadow: 0 0 1px 2px $primary;
      }

      &:hover {
        background-color: $primary;
        box-shadow: 0 0 1px 2px $primary;
      }
    };

    .rec.rec-dot.rec-dot_active{
      background-color: $primary;
      box-shadow: 0 0 1px 2px $primary;
    };

    .rec.rec-arrow {
      display: none;
    }
    .rec.rec-pagination{
    position: absolute;
    top: 15px;
    right:20px;
  }
}
