@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;
  margin: 0 5px;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;

    &:hover {
      background-color: $primary;
      color: $product-search-category-color;
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    ul {
      position: relative;
      padding: 10px 30px 10px 35px;
      outline: none;
      font-size: 14px;
      margin: 0;
      z-index: 1;

      &:hover ul {
        position: absolute;
        display: block;
        color: $text-color;
        background-color: $white;
        border: solid 1px $form-border-color;
        text-align: center;
        width: 188px;
        height: 180px;
        top: 0;
        right: 0;
        margin-top: 42px;
      }

      li {
        display: block;
        user-select: none;
      }

      ul {
        display: none;
        padding: 0;
        padding-top: 10px;

        li {
          padding: 5px 0;

          &:hover {
            color:$white;
            background-color: $primary;
          }
        }
      }
    }


    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      outline: none;

      &:hover {
        color: $product-search-category-color;
      }
    }

    &:hover {
      transition: 1s;
      background-color: $primary;
    }

    &:hover .icon {
      color: $product-search-category-color;
    }
  }

  .selectField {
    display: flex;
    align-items: center;
    position: relative;
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      width: 100%;

      &::placeholder {
        color: $text-color;
      }
    }

    a {
      color: $text-color;
      margin-right: 10px;
    }
  }
}

@media (max-width: 350px) {
  .root {
    font-size: 10px;

    .searchField {

      input {
        width: 120px;
      }

      a {
        font-size: 14px;
      }
    }
  }
}
