@import "../../../styles/settings.scss";

.root {
  display: flex;
  flex-direction: row;

  .chatbot {
    margin: 370px 0 0 20px;
    width: 10%;
    height: 10%;
    position: fixed;
  }

  .home{
    margin: auto;
    width: 85%;
    padding: 5px;
  }
}
